<form action="/send_data" method="post">
    <div class="user-box">
      <input type="text" name="url" required>
      <label>URL of Login</label>
    </div>
    <div class="user-box">
      <input type="text" name="xpathuname" required>
      <label>Username XPath</label>
    </div>
    <div class="user-box">
      <input type="text" name="xpathpwd" required>
      <label>Password XPath</label>
    </div>
    <div class="user-box">
      <input type="text" name="titlestring" required>
      <label>Title of Webpage if Logged in</label>
    </div>
    <div class="user-box">
      <input type="text" name="xpathsubmit" required>
      <label>Submit Button XPath</label>
    </div>
<button type='submit'>
    Submit
</button>